.container-clock{
    margin-left: 10%;
    margin-top: 2%;
    z-index: 1;
    width: 100%;
    height: auto;
  }
  .clock {
    position: absolute;
    background-image: url("/img/zon.png");
    background-size: 330px;
    background-repeat: no-repeat;
    z-index:1;
    width: 330px;
    height: 330px;
  }   
  .clock .number {
    --rotation: 0;
    position:absolute;
    margin: 17.5%;
    width: 210px;
    height: 210px;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 1.5rem;
    font-family: "Quicksand";
    color: rgb(161, 79, 2);
  } 
  .clock .number1 {
    --rotation: 30deg;
  }
  .clock .number2 {
    --rotation: 60deg;
  }
  .clock .number3 {
    --rotation: 90deg;
  }
  .clock .number4 {
    --rotation: 120deg;
  }
  .clock .number5 {
    --rotation: 150deg;
  }
  .clock .number6 {
    --rotation: 180deg;
  }
  .clock .number7 {
    --rotation: 210deg;
  }
  .clock .number8 {
    --rotation: 240deg;
  }
  .clock .number9 {
    --rotation: 270deg;
  }
  .clock .number10 {
    --rotation: 300deg;
  }
  .clock .number11 {
    --rotation: 330deg;
  } 
  .clock .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%; 
    border: 1px solid rgb(144, 42, 5); 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  } 
  .clock::after {
    content: "";
    position: absolute;
    background-color: red;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  } 
  .clock .hand.second {
    width: 2px;
    height: 20%;
    background-color: rgb(175, 56, 13);
  }
   .clock .hand.minute {
    width: 5px;
    height: 26%;
    background-color: rgb(144, 42, 5);
  }
  .clock .hand.hour {
    width: 8px;
    height: 16%;
    background-color: rgb(144, 42, 5);
  }

  
@media all and (max-width: 1950px){
 