@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montez&family=Quicksand&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body {
    overflow: hidden;
    max-height: 100vh;
    background: #6bc9f5;
  }
  .boom {
  background-image: url(/img/boom.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-attachment: fixed;
  }
  .steel {
    background-image: url(/img/steel.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 12rem;
    background-position-x: 2rem;
    background-attachment: fixed;
  }

  .mobile {
    display: none;
    font-family: "Montez", cursive;
    font-size: 40px;
    text-align: center;
    margin: 50px;
    margin-top: 50px;
    color: darkgreen;
  }
  .mobilebird {
    display: none;
    content: url(/img/image0.gif);
    width: 100px;
    margin: auto;
  }
  .mobileicon {
    display: none;
    margin-top: 10px;
  }
  /*header*/
  header {
    display: flex;
    justify-content: flex-start;
    height: 15vh;
  }
  .layout {
    display: flex;
    min-height: 82vh;
  }

  /*navbar*/
.left-sidebar {
  display: flex;
    width: 15%;
    height: auto;
  }

  main {
     background-color: #fff9c2;
      width: 100%;
      max-height: 82vh;
  }

  .scroll {
    min-width: 0;
    max-height: 82vh; 
    overflow-y: scroll;
  }
  .scroll::-webkit-scrollbar {
    width: 20px;
  }
  .scroll::-webkit-scrollbar-track {
    background: #f0da9f;
  }
  .scroll::-webkit-scrollbar-thumb {
    background-color: orange;
    border-radius: 20px;
    border: 3px solid orange;
    min-height: 10px;
  }
  .scroll::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 200px;
  }

  .right-sidebar {
      display: flex;
      width: 15%;
  }

  footer {
      background-color: green;
      height: 3vh;
        padding-top: 10px;
        color: #fff9c2;
        text-align: right;
        padding-right: 40px;
        font-family: "Quicksand";
      }

 .flex-column{
      display: flex;
      flex-direction: column;
 }

  /*navbar*/
.bladeren {
  display: flex;
  flex-direction: column;
    /* width: 100%;
    height: auto; */
}
.bladeren a{
    position: relative;
    color: rgb(10, 72, 153);
    display: block;
    text-decoration: none;
    font-family: "Amatic SC", cursive;
    line-height: 130px;
    transition: 0.5s;
    top: 200px;
  }
  .bladeren a:hover {
    color: #fff9c2;
  }
  .bladeren a:before {
    content: "";
    position: absolute;
    top: 160px;
    width: 0;
    left: 150px;
    height: 1%;
    background: url(img/leaf_illu.png);
    background-size: cover;
    transform-origin: top;
    transform: rotate(130deg);
    transition: 0.5s;
  }
  .bladeren a:hover:before {
    right: 150px;
    width: 200px;
    height: 160px;
  }
  .bladeren a span {
    left: 170px;
    position: relative;
    top: 50px;
    font-size: 35px;
    z-index: 1;
  }

/*content main home*/
.row {  
    display: flex;
    flex-wrap: wrap;
  }
.home-titel {
    margin-top: 100px;
}
.subtitel {
    font-family: "Amatic SC", cursive;
    font-size: 6em;
    font-weight: bold;
    color: #e95500a6;
  }
  .titel {
    margin-top: -10%;
    margin-left: 160px;
    font-family: "Montez", cursive;
    font-size: 14em;
    color: #e95500;
  }
  .skills{
    text-align: center;
    margin-top: 10%;
}
.skills img{
    margin: 20px;
    max-width: 9%;
    height: auto;
}

/*content main about*/
.about-titel {
  display: block;
  margin-top: 50px;
  margin-bottom: 40px;
}
.ching {
  font-family: "Montez", cursive;
  font-size: 7em;
  color: #e95500;
}
.about-content {
  display: flex;
  justify-content: start;
}
.text{
  width: 55%;
 padding-left: 100px;
}
p{
  padding-top: 3%;
  margin-left: 10%;
  font-family: "Quicksand";
  font-size: 1.5rem;
}h3 {
  padding-top: 10%;
  margin-left: 10%;
  font-family: "Quicksand";
  font-size: 1.5rem;
}
.fotoching{
  width: 50%;
  margin: auto;
}
.fotoching img{
  width: 90%;
}

/*main content portfolio*/
h1 {
  margin: 50px 10px 30px;
  font-family: "Amatic SC", cursive;
  color: #e95500a6;
  font-size: 6rem;
}
.images {
  position:relative;
  display: flex;
  justify-content: flex-start;
}
.textblock{
position: absolute;
top: -20px;
right: 0px;
text-align: right;
width: 50%;
z-index: 1;
}
.textblock h3 {
  font-family: "Amatic SC", cursive;
  color: #e95500a6;
  font-size: 3.5rem;
}
.images img {
  width: 100%;
  height: auto;
  padding: 10px;
}
.gifwrap{
  flex-direction: row;
  margin-left: auto;
}
.gif {
  width: 30%;
}
.gifbird {
  width: 15%;
}

/*main content contact*/
.contact {
  margin: auto;
  padding: 1%;
  border: 3px solid#e95500a6;
  border-radius: 25px;
  text-align: center;
}
.contact h1 {
  margin: 0, 0, 12,0;
}
.contact p {
margin: 0;
margin-bottom: 10px;
}
.contact img{
  width: 20%;
  height: auto;
  margin: 10px;
}
.creatures{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: auto;
}
.creatures img {
  width: 20%;
  height: auto;
  margin-top: auto;
}

/*bg clouds*/
#background-wrap {
  bottom: 0;
  left: 0;
  padding-top: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

@keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 100%;
  }
}

.x1 {
  animation: animateCloud 1000s linear infinite;
  transform: scale(0.65) translateX(1500px);
}

.x2 {
  animation: animateCloud 750s linear infinite;
  transform: scale(0.3) translateX(-2350px);
}

.x3 {
  animation: animateCloud 600s linear infinite;
  transform: scale(0.5) translateX(-2500px);
}

.x4 {
  animation: animateCloud 500s linear infinite;
  transform: scale(0.4) translateX(-600px);
}

.x5 {
  animation: animateCloud 400s linear infinite;
  transform: scale(0.55) translateX(-600px);
}

.cloud {
  background: white;
  background: linear-gradient(top, white 5%, #f1f1f1 100%);
  border-radius: 100px;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  height: 120px;
  position: relative;
  width: 350px;
}

.cloud:after,
.cloud::before {
  background: white;
  content: "";
  position: absolute;
  z-index: -1;
}

.cloud::after {
  border-radius: 100px;
  height: 100px;
  left: 50px;
  top: -50px;
  width: 100px;
}

.cloud::before {
  border-radius: 200px;
  height: 180px;
  width: 180px;
  right: 50px;
  top: -90px;
}

/* page transistion */
.transition-fade {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.4s;
  opacity: 1;
  max-height: 50%;
}

html.is-animating .transition-fade {
  opacity: 0;
}


@media all and (max-width: 1600px){
  body{
    background-color: red;
  }
  .steel {
    background-position-x: 4.3rem;
  }
  .subtitel {
    font-size: 6em;
  }
  .titel {
    margin-top:-35px;
    margin-left: 135px;
    font-size: 10em; 
  }
.bladeren a:before {
  top: 160px;
    right: 15px;
    transform: rotate(140deg);
  }
  .bladeren a:hover:before {
    left: 10px;
  }
  .bladeren a span {
    left: 20px;
  }
  .container-clock{
    margin-left: 7%;
  }
  .skills img{
    margin: 0px;
    max-width: 15%;
}
  .about-titel {
    display: block;
    margin-top: 50px;
    margin-bottom: -50px;
  }
  .about-content {
    flex-direction: column;
  }
  .text{
  width: 90%;
  padding-left: 20px;
  }
  p{
    font-size: 1.4rem;
  }h3 {
    font-size: 1.4rem;
  }
  .fotoching{
    width: 100%;
    margin:auto;
    margin-top: 20px;
  }
  .textblock{
    top: -35px;
    right: 10px;
    width: 55%;
    }
    .textblock h3 {
      font-size: 2rem;
    }
    .textblock p{
      font-size: 1.1rem;
    }
  .contact {
    width: 50%;
  }
}

@media all and (max-width: 768px){
  body{
    background-color: green;
  }
  .boom {
    background-image: url(/img/boom.png);
    background-repeat: no-repeat;
    /* background-size: contain; */
    height: 10000px;
    background-position: top, right;
    /* background-attachment: fixed; */
    }
    .left-sidebar{
      display: none;
    }
    .right-sidebar{
      display: none;
    }
    .layout {
      flex: none;
    }
    .subtitel {
        font-size: 3em;
      }
      .ching {    
        font-size: 5em;
      }
      .titel {
        margin-top:-35px;
        margin-left: 135px;
        font-size: 6em; 
      }
      .skills img{
        margin: 20px;
        max-width: 25%;
        height: auto;
    }
    .container-clock{
      margin-left: 10%;
      margin-top: 2%;
      z-index: 1;
      width: 100%;
      height: auto;
    }
    .container-clock{
    display:none;
    }
    .text{
      margin-top: 30px;
    }
    p{
      font-size: 1.2rem;
    }h3 {
      font-size: 1.2rem;
    }
    .contact {
      width: 90%;
    }
}
@media screen and (max-width: 400px) {
  .mobile {
    display: block;
  }
  .mobilebird {
    display: block;
  }
  .mobileicon {
    display: block;
  }
  .titel,
  .subtitel,
  .boom,
  .bloem,
  .clock,
  .right-sidebar,
  .left-sidebar,
  .skills,
  .cloud,
  footer,
  main {
    display: none;
  }
}

