@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montez&family=Quicksand&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #6bc9f5;
}

.mobile {
  display: none;
  font-family: "Montez", cursive;
  font-size: 40px;
  text-align: center;
  margin: 50px;
  margin-top: 50px;
  color: darkgreen;
}
.mobilebird {
  display: none;
  content: url(/img/image0.gif);
  width: 100px;
  margin: auto;
}
.mobileicon {
  display: none;
  margin-top: 10px;
}

.ching {
  font-family: "Montez", cursive;
  font-size: 150px;
  color: #e95500;
}

.about {
  font-family: "Amatic SC", cursive;
  color: #e95500a6;
  font-size: 120px;
}

p {
  padding-top: 15vh;
  text-align: left;
  margin-top: -10vh;
  margin-left: -35vh;
  width: 50vh;
  font-family: "Quicksand";
  font-size: 30px;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  height: 15vh;
  position: relative;
}

.container-middle {
  display: flex;
}

/* left and side drawing */
.boom {
  content: url("/img/boom.png");
  position: absolute;
  top: 0;
  right: 0;
  height: 95vh;
}

.bloem {
  content: url("/img/zon.png");
  position: absolute;
  top: 40px;
  left: 180px;
  width: 350px;
  border-radius: 100px;
}


/* clock style */
.clock {
  position: absolute;
  top: 105px;
  left: 250px;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  z-index: 10;
}

.clock .number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 1.5rem;
  font-family: "Quicksand";
  color: rgb(161, 79, 2);
}

.clock .number1 {
  --rotation: 30deg;
}
.clock .number2 {
  --rotation: 60deg;
}
.clock .number3 {
  --rotation: 90deg;
}
.clock .number4 {
  --rotation: 120deg;
}
.clock .number5 {
  --rotation: 150deg;
}
.clock .number6 {
  --rotation: 180deg;
}
.clock .number7 {
  --rotation: 210deg;
}
.clock .number8 {
  --rotation: 240deg;
}
.clock .number9 {
  --rotation: 270deg;
}
.clock .number10 {
  --rotation: 300deg;
}
.clock .number11 {
  --rotation: 330deg;
}

.clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  /* border: 1px solid white; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-origin: bottom;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
  content: "";
  position: absolute;
  background-color: red;
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.clock .hand.second {
  width: 2px;
  height: 35%;
  background-color: rgb(175, 56, 13);
}

.clock .hand.minute {
  width: 5px;
  height: 40%;
  background-color: rgb(144, 42, 5);
}

.clock .hand.hour {
  width: 8px;
  height: 25%;
  background-color: rgb(144, 42, 5);
}

/* navbar */
.left-sidebar {
  flex-basis: 23vh;
  background: url(img/steel.png) no-repeat;
  margin-top: 50px;
  background-size: 20vh;
  background-position-x: 25px;
}

.left-sidebar a {
  position: relative;
  color: rgb(10, 72, 153);
  display: block;
  text-decoration: none;
  font-family: "Amatic SC", cursive;
  line-height: 130px;
  transition: 0.5s;
  top: 200px;
}

.left-sidebar a:hover {
  color: #fff9c2;
}

.left-sidebar a:before {
  content: "";
  position: absolute;
  top: 160px;
  width: 0;
  left: 55px;
  height: 1%;
  background: url(img/leaf_illu.png);
  background-size: cover;
  transform-origin: top;
  transform: rotate(130deg);
  transition: 0.5s;
}

.left-sidebar a:hover:before {
  left: 120px;
  width: 170px;
  height: 120px;
}

.left-sidebar a span {
  left: 130px;
  position: relative;
  top: 50px;
  font-size: 35px;
  z-index: 1;
}

/* content */
main {
  display: flex;
  justify-content: center;
  height: 80vh;
  background-color: #fff9c2;
  flex-basis: 150vh;
  overflow-x: hidden;
}

main::-webkit-scrollbar {
  width: 20px;
}

main::-webkit-scrollbar-track {
  background: #f0da9f;
}

main::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 20px;
  border: 3px solid orange;
  min-height: 45px;
}

main::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 200px;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* portfolio page */
.images img {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.fotoching img {
  position: absolute;
  margin-left: -5vh;
  margin-top: -57vh;
}

/* home page */
.skills {
  align-items: center;
}

.skills img {
  margin-left: 50px;
}

.gif {
  width: 30%;
}

.gifbird {
  width: 15%;
}

.animalsright {
  position: absolute;
  top: 76vh;
  left: 20vh;
}

.animalsleft {
  position: absolute;
  top:74.5vh;
  left: 113vh;
}

.animalsright img{
  width: 35%
}

.animalsleft img{ 
  width: 35%;
}
/* contact page */
.contact {
  margin: auto;
  margin-top: 100px;
  width: 50vh;
  height: 50vh;
  border: 2px solid orange;
  border-radius: 10%;
}

.textcontact,
h1 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: "Amatic SC", cursive;
  color: #e95500a6;
  font-size: 100px;
}

.texttext {
  font-family: "Quicksand";
  font-size: 30px;
}

.text {
  margin-top: 20px;
}

.iconsmargin {
  margin-top: 3vh;
  margin-bottom: 5vh;
}

.right-sidebar {
  flex-basis: 15vh;
  /* flex-shrink:0; */
}

footer {
  height: 5vh;
  background-color: green;
  padding-top: 10px;
  color: #fff9c2;
  text-align: right;
  padding-right: 40px;
  font-family: "Quicksand";
}

/* clouds animation */
#background-wrap {
  bottom: 0;
  left: 0;
  padding-top: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

@keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 100%;
  }
}

.x1 {
  animation: animateCloud 1000s linear infinite;
  transform: scale(0.65) translateX(1500px);
}

.x2 {
  animation: animateCloud 750s linear infinite;
  transform: scale(0.3) translateX(-2350px);
}

.x3 {
  animation: animateCloud 600s linear infinite;
  transform: scale(0.5) translateX(-2500px);
}

.x4 {
  animation: animateCloud 500s linear infinite;
  transform: scale(0.4) translateX(-600px);
}

.x5 {
  animation: animateCloud 400s linear infinite;
  transform: scale(0.55) translateX(-600px);
}

.cloud {
  /* overflow: auto; */
  background: white;
  background: linear-gradient(top, white 5%, #f1f1f1 100%);
  border-radius: 100px;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  height: 120px;
  position: relative;
  width: 350px;
}

.cloud:after,
.cloud::before {
  background: white;
  content: "";
  position: absolute;
  z-index: -1;
}

.cloud::after {
  border-radius: 100px;
  height: 100px;
  left: 50px;
  top: -50px;
  width: 100px;
}

.cloud::before {
  border-radius: 200px;
  height: 180px;
  width: 180px;
  right: 50px;
  top: -90px;
}

/* page transistion */
.transition-fade {
  text-align: center;
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

/* content content */
.subtitel {
  padding-top: 10vh;
  margin-left: -35vh;
  font-family: "Amatic SC", cursive;
  font-size: 100px;
  font-weight: bold;
  color: #e95500a6;
}

.titel {
  margin-top: -5vh;
  margin-left: 10vh;
  margin-bottom: 18vh;
  font-family: "Montez", cursive;
  font-size: 300px;
  color: #e95500;
}

@media screen and (max-width: 2000px) {
  .ching {
    font-size: 120px;
  }
  .about {
    font-size: 90px;
  }
  p {
    padding-top: 20vh;
    margin-top: -15vh;
    margin-left: -35vh;
    font-size: 22px;
  }
  .bloem {
    top: 20px;
    left: 100px;
    width: 280px;
  }
  .clock {
    top: 70px;
    left: 150px;
    width: 175px;
    height: 175px;
  }
  .left-sidebar a {
    line-height: 100px;
    top: 120px;
  }
  .left-sidebar a:before {
    top: 140px;
  }
  .left-sidebar a:hover:before {
    left: 100px;
    width: 150px;
    height: 110px;
  }
  .left-sidebar a span {
    left: 100px;
    font-size: 30px;
  }
  .images img {
    width: 90%;
  }
  .skills {
    margin-top: 18vh;
    min-width: 90vh;
  }
  .skills img {
    width: 10vh;
  }
  .fotoching img {
    width: 33%;
    margin-left: -5vh;
    margin-top: -54vh;
  }
  .animalsleft {
    top:74.8vh;
    left: 100vh;
  }
  .animalsright {
    top: 76.4vh;
    left: 10vh;
  }
  .animalsright img{
    width: 25%
  } 
  .animalsleft img{ 
    width: 25%;
  }
  .textcontact,
  h1 {
    margin-top: 10px;
    font-size: 80px;
  }
  .texttext {
    font-size: 20px;
  }
  .text {
    margin-top: 3vh;
  }
  .iconsmargin {
    margin-bottom: 3vh;
  }
  .cloud {
    height: 80px;
    width: 260px;
  }
  .cloud::after {
    height: 70px;
    left: 40px;
    top: -40px;
    width: 70px;
  }
  .cloud::before {
    height: 140px;
    width: 140px;
    right: 40px;
    top: -70px;
  }
  .subtitel {
    font-size: 80px;
  }
  .titel {
    font-size: 200px;
  }
}

/* Media Queries: tabled landscape */
@media screen and (max-width: 1300px) {
  .ching {
    font-size: 80px;
  }
  .about {
    font-size: 70px;
  }
  p {
    padding-top: 20vh;
    margin-top: -15vh;
    margin-left: -30vh;
    width: 45vh;
    font-size: 17px;
  }
  .boom {
    right: -5vh;
    width: 45vh;
  }
  .bloem {
    top: 5vh;
    left: 10vh;
    width: 220px;
  }
  .clock {
    top: 75px;
    left: 115px;
    width: 135px;
    height: 135px;
  }
  .clock .number {
    font-size: 1rem;
  }
  .left-sidebar {
    background-position-x: 5px;
  }
  .left-sidebar a {
    line-height: 100px;
    top: 120px;
  }
  .left-sidebar a:before {
    top: 12vh;
    left: 5vh;
  }
  .left-sidebar a:hover:before {
    left: 8vh;
    width: 17vh;
    height: 12vh;
  }
  .left-sidebar a span {
    left: 9vh;
    font-size: 20px;
    z-index: 1;
  }
  .images img {
    width: 90%;
  }
  .skills {
    width: 60vh;
  }
  .skills img {
    width: 20%;
    margin-left: none;
  }
  .fotoching img {
    margin-left: -80px;
    width: 45%;
    margin-top: -380px;
  }
  .animalsleft {
    top:79.5vh;
    left: 60vh;
  }
  .animalsright {
    top: 80.5vh;
    left: -12vh;
  }
  .animalsright img{
    width: 15%
  }
  .animalsleft img{ 
    width: 20%;
  }
  .textcontact,
  h1 {
    margin-top: 10px;
    font-size: 50px;
  }
  .texttext {
    font-size: 20px;
  }
  .text {
    margin-top: 1vh;
  }
  .iconsmargin {
    margin-top: 1vh;
    margin-bottom: 3vh;
  }
  .cloud {
    height: 75px;
    width: 260px;
  }
  .cloud::after {
    height: 65px;
    left: 40px;
    top: -40px;
    width: 70px;
  }
  .cloud::before {
    height: 135px;
    width: 140px;
    right: 40px;
    top: -70px;
  }
  .subtitel {
    padding-top: 5vh;
    margin-left: -30vh;
    font-size: 60px;
  }
  .titel {
    margin-left: 15vh;
    font-family: "Montez", cursive;
    font-size: 150px;
    margin-bottom: 10vh;
  }
}

/*mobile version*/
@media screen and (max-width: 400px) {
  .mobile {
    display: block;
  }
  .mobilebird {
    display: block;
  }
  .mobileicon {
    display: block;
  }
  .titel,
  .subtitel,
  .boom,
  .bloem,
  .clock,
  .right-sidebar,
  .left-sidebar,
  .skills,
  .cloud,
  footer,
  main {
    display: none;
  }
}
