/* background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%); */
/* background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%); */
body {
  background-color: #6bc9f5;
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.wrapper > * {
  flex: 100%;
}

.header {
  margin: none;
  background-color: #6bc9f5;
}

.header img {
  width: 350px;
  margin-top: 1px;
}

.main {
  text-align: center;
  background-color: #fff9c2;
  height: 650px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.aside-1 {
  display: flex;
  width: 50px;
  align-items: right;
  flex-direction: column;
  background: url(img/steel.png) no-repeat;
  background-size: 160px 650px;
  background-position-x: 20px;
  /* background: #6bc9f5; */
}

.bloem {
  z-index: 3;
  margin-left: 100px;
  margin-top: -100px;
}


.aside-1 a {
  position: relative;
  width: 250px;
  height: 100px;
  font-size: 25px;
  color:  #93dcfd;
  display: inline-flex;
  justify-content: center;
  text-decoration: none;
  transition: 0.5s;
  margin-left: -100px;
  margin-top:30px;
}

.aside-1 a:hover {
  color: #fff9c2;
}

.aside-1 a:before {
  content: "";
  position: absolute;
  top: 80px;
  left: 220px;
  width: 0px;
  height: 100px;
  background: url(img/leaf_illu.png);
  background-size: cover;
  transform-origin: top;
  transform: rotate(120deg) translateY(50%) translateX(0%);
  transition: 0.5s;
}

/* nav a:nth-child(1):before {
  background:  url(img/leaf_right.png);
  background-size: cover;
} */

.aside-1 a:hover:before {
  margin-left: 20px;
  width: 165px;
  height: 120px;
}

.aside-1 a span {
  top: -10px;
  left: 100px;
  margin-bottom: 200px;
  position: relative;
  z-index: 2;
}

.aside-2 {
  display: flex;
  width: 50px;
  flex-direction: column;
}

.boom {
  z-index: 3;
  margin-left: -230px;
  margin-top: -170px;
}




/* .aside-2 {
  display: flex;
  width: 300px;
  align-items: right;
  flex-direction: column;
  background-color: #6bc9f5;
} */



.footer {
  background-color: lightgreen;
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1 0 0;
  }
}

@media all and (min-width: 800px) {
  .main {
    flex: 7 0px;
  }

  .aside-1 {
    order: 1;
  }
  .main {
    order: 2;
  }
  .aside-2 {
    order: 3;
  }
  .footer {
    order: 4;
  }
}
