

body {
  background: rgb(10, 144, 5);
}

.ching {
  font-size: 80px;
}

.about {
  font-size: 70px;
}

p {
  padding-top: 20vh;
  margin-top: -15vh;
  margin-left: -20vh;
  width: 45vh;
  font-size: 17px;
}

.boom {
  right: -5vh;
  width: 45vh;
}

.bloem {
  top: 5vh;
  left: 10vh;
  width: 220px;
}

/* clock style */
.clock {
  top: 10vh;
  left: 15.5vh;
  width: 135px;
  height: 135px;
}

.clock .number {
  font-size: 1rem;
}
/* navbar */
.left-sidebar {
  background-position-x: 5px;
}

.left-sidebar a {
  line-height: 100px;
  top: 120px;
}

.left-sidebar a:before {
  top: 12vh;
  left: 5vh;
}

.left-sidebar a:hover:before {
  left: 8vh;
  width: 17vh;
  height: 12vh;
}

.left-sidebar a span {
  left: 8vh;
  top: 1vh;
  font-size: 30px;
  z-index: 1;
}

.images img{
  width: 90%;
}

/* home page */
.skills {
  width: 10vh;
}

.skills img {
  width: 13%;
}

.textcontact,
h1 {
  margin-top: 10px;
  font-size: 50px;
}

.texttext {
  font-size: 20px;
}

.text {
  margin-top: 1vh;
}

.iconsmargin {
  margin-top: 1vh;
  margin-bottom: 3vh;
}

.cloud {
  height: 75px;
  width: 260px;
}

.cloud::after {
  height: 65px;
  left: 40px;
  top: -40px;
  width: 70px;
}

.cloud::before {
  height: 135px;
  width: 140px;
  right: 40px;
  top: -70px;
}
/* content content */
.subtitel {
  padding-top: 5vh;
  margin-left: -30vh;
  font-size: 60px;
}

.titel {
  margin-left: 15vh;
  font-family: "Montez", cursive;
  font-size: 150px;
  margin-bottom: -8vh;
}
