*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: chocolate;
}

.canvas

.face {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: rgb(145, 145, 24);
  display: flex;
  justify-content: center;
  align-items: center;

}

.face:before {
  content: '';
  position: absolute;
  top: 180px;
  width: 150px;
  height: 70px;
  background: brown;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  transition: 0.5s;
}

.face:hover::before{
  top: 210px;
  width: 150px;
  height: 20px;
  background: brown;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: 0.5s;
}

.eyes {
  position: relative;
  top:-40px;
  display: flex;
}

.eyes .eye {
  position: relative;
  width: 80px;
  height: 80px;
  display: block;
  background:white;
  margin: 0 15px;
  border-radius:50%;
}

.eyes .eye::before{
  content: '';
  position: absolute;
  top:50%;
  left: 25px;
  transform: translate(-50%,-50%);
  width: 40px;
  height: 40px;
  background: black;
  border-radius: 50%;
}

.transition-fade {
    transition: 0.4s;
    opacity: 1;
  }
  
  html.is-animating .transition-fade {
    opacity: 0;
  }

  /* moving letters with <span> */
  .titel h3 {
    padding-top: 150px;
    font-family: 'Charmonman', cursive;
    font-size: 150px;
    line-height: 160px;
  }
  
  .titel {
    font-family: 'Charmonman', cursive;
    font-size: 250px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .titel span {
  display: inline-block;
  animation: mover 6s linear infinite;
  color:  #fff9c2;
  }
  
  @keyframes mover {
    0% {
      text-shadow: 0 0 30px rgba(0, 0, 0, 0);
    }
    50% {
      text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
      transform: translateY(30px);
    }
    100% {
      text-shadow: 0 0 30px rgba(0, 0, 0, 0);
    }
  }
  
  span:nth-child(1)
  {
    animation-delay: 0.5s;
  }
  span:nth-child(2)
  {
    animation-delay: 1s;
  }
  span:nth-child(3)
  {
    animation-delay: 1.5s;
  }
  span:nth-child(4)
  {
    animation-delay: 2s;
  }
  span:nth-child(5)
  {
    animation-delay: 2.5s;
  }
  